{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="container" style="width:450px;">
        <p class="mt-5">{{ message }}</p>
        <div class="card shadow px-4 py-2 mt-3">
            <h4 class="text-center">Connexion</h4>
            <form method="post" class="mt-3">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_username" class="form-label">Nom d'utilisateur</label>
                    {{ form.username | add_class:"form-control" }}
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">Mot de passe</label>
                    {{ form.password | add_class:"form-control" }}
                </div>
                <button type="submit" class="btn btn-primary">Se connecter</button>
            </form>
            <p>Pas encore membre ? <a href="{% url 'signup' %}">Inscrivez-vous maintenant !</a></p>
        </div>
    </div>
{% endblock content %}